<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel APP</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/form.css">
    <link rel="stylesheet" href="../styles/travel.scss">
</head>
<body>
    <main>
        <div class="form-container">
            <div class="search-form">
                <h1>Only Travel APP You Need</h1>
    
                <form onsubmit="return Client.handleSubmit(event)">
                    <div class="city">
                        <label>Where</label>
                        <input type="text" placeholder="City" name="city"  id="city">
                    </div>
                    <div class="city_error"></div>
                    <div class="date">
                        <label>Travel Date</label>
                        <input type="date"  name="date" id="date">
                    </div>
                    <div class="date_error"></div>
                    <div class="submit">
                        <input type="submit" class="btn" value="Search" onclick="return Client.handleSubmit(event)">
                    </div>
                </form>
            </div>
        </div>
    </main>
    <section class="travel-section">
        <div class="travel-container"></div>
    </section>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>